/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 200px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #350404ef;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(212, 212, 212);
    display: block;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: white;
}

.sidenav #hv:hover {
    background-color: #8a6c6cef;
    color: #2a2a25;
}

strong {
    display: block;
    margin: auto;
    font-size: 30px;
    color: #d8b7adef;
}


/* Style page content */

.main {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 130px;
    margin-left: 330px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

form {
    width: 45%;
    border-radius: 4px;
    display: block;
    margin: auto;
    margin-left: 8em;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../assets/login.jpeg);
}

table {
    border: rgb(104, 104, 104) solid 3px;
    background-color: rgba(248, 248, 248, 0.801);
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#tablenavbar tr:nth-child(odd) {
    background-color: unset;
}

.sidenav img {
    display: block;
    margin: auto;
}

#tablenavbar {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
    border-collapse: collapse;
}

#tablenavbar td,
tr {
    background-color: unset;
    border: unset;
    margin: unset;
    padding: unset;
    text-align: left;
    height: 60px;
}

hr {
    border-color: black;
}

.main img {
    height: 100px;
    width: 100px;
}

.div1 {
    float: left;
    padding-top: 120px;
    height: 500px;
    margin-left: 2em;
    font-family: 'Domine', serif;
}

.div1 button {
    background-color: rgba(236, 235, 235, 0.89);
    color: rgb(36, 35, 35);
    font-family: 'Domine', serif;
}

button img {
    height: 40px;
}

button {
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 1em;
    font-size: 25px;
    border: solid rgb(117, 90, 0) 0.2em;
}

button:hover {
    background-color: rgb(172, 139, 139);
    cursor: pointer;
}